.wrapperHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  font-size: 20px;
  line-height: 1;
  color: var(--main);
  text-align: center;

  width: 44px;
  height: 44px;

  padding: 14px 12px;
  margin-right: 12px;

  border-radius: 100px;

  background: var(--badges);
}

.name {
  color: var(--main);
  margin-bottom: 4px;
}

.raiting {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.29;
  color: var(--title);
}
.star {
  fill: var(--rating);
  margin-right: 8px;
}

.starDisable {
  fill: var(--badges);
}
