.wrapperCard {
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  background: var(--white);
  text-align: left;
}

.link {
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--title);
  margin-left: 144px;

  &:hover {
    /* background-color: var(--button-hover); */
    text-decoration: none;
  }
}
