:root {
  --main: #103931;
  --text: rgba(17, 16, 28, 0.5);
  --title: #11101c;
  --white: #fbfbfb;
  --inputs: #fbfbfb;
  --badges: rgba(16, 57, 49, 0.2);
  --green: #38cd3e;

  --gray: #8a8a89;
  --gray-light: #dadde1;
  --gray-summary: #f3f3f3;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  --font-family: 'Helvetica Neue', sans-serif;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
  background-color: #f1f1f1;
}
