.wrapper {
  width: 360px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: var(--gray);
}

.reactSelect {
  margin-top: 8px;

  [class$='-control'] {
    border-radius: 14px;
    padding: 0px 18px;
    width: 226px;
    height: 48px;
    font-size: 18px;
    line-height: 1.11;

    color: var(--white);
    background-color: var(--main);
  }

  [class$='-placeholder'] {
    font-size: 18px;
    line-height: 1.11;

    color: var(--white);
  }

  [class$='-singleValue'] {
    color: var(--white);
  }
  [class$='-menu'] {
    border-radius: 14px; /* Закругленные углы меню */
    background: none;
    padding: 18px;
    font-size: 18px;
    line-height: 1.11;

    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
  }
  [class$='-hlgwow'] {
    padding: 0;
  }

  [class$='-option'] {
    background: none;
    /* margin-bottom: 12px; */
  }
}
