.section {
  padding-top: 152px;
  width: 1184px;
  margin: auto;
}

.container {
  padding: 24px;
  border-radius: 24px;
  background: var(--white);
  text-align: left;
}

.btn {
  background-color: var(--main);
  padding: 14px 28px;
  margin-left: 144px;
}

.wrapperBooking {
  display: flex;
}
