.modal {
  z-index: 2;
}

.modalHeader {
  display: flex;
  flex-direction: row-reverse;

  margin-top: 12px;
  padding: 0px 44px 44px 44px;
}

.closeModalBtn {
  padding: 8px;
  background: none;
  cursor: pointer;

  stroke: var(--main);

  & :hover {
    stroke: var(--text);
  }
}
